@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
// Colors
$main-color: hsl(215, 51%, 70%);
$secondary-color: hsl(178, 100%, 50%);
$third-color: hsl(217, 54%, 11%);
$special-color: hsl(216, 50%, 16%);
$black: hsl(215, 32%, 27%);
$white: #fff;
$grey: rgb(136, 134, 134);
$title-color: black;
$text-color: black;

// Fonts
$title-font: "Outfit", sans-serif;
$text-font: "Outfit", sans-serif;

// Responsive
