@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

// Colors
$main-color: hsl(218, 44%, 22%);
$secondary-color: hsl(220, 15%, 55%);
$third-color: #1b2430;
$special-color: #816797;
$black: #000;
$white: #fff;
$grey: hsl(212, 45%, 89%);
$title-color: black;
$text-color: black;

// Fonts
$title-font: "Outfit", sans-serif;
$text-font: "Outfit", sans-serif;

// Responsive
